/*main css for JS17 Restaurant UI*/


.container {
	background-color: #f7be81;
}
img {
	width: 200px;
	height: 200px;
	margin: 20px;
	padding-left: 400px;
	display: inline;
	position: absolute;
	top: 55px;
}
h1 {
	font-family: 'Chango', cursive;
	font-size: 34px;
	width: 100px;
	padding-left: 50px;
	position: relative;
}
h2 {
	font-family: 'Chango', cursive;
	font-size: 28px;
	color: brown;
	padding-top:20px;
	padding-left:20px;
}
.menu {
	background-color: peachpuff;
	border: 2px solid brown;

}
.btn {
	font-family: 'Chango', cursive;
	font-size: 20px;
	width: 200px;
	height:30px;
	background-color: red;
}
.plate, .drink {
	display: inline-block;
	width:200px;
	height:100px;
	background-color: pink;
	margin: 10px 20px;
}
h4 {
	font-size: 1.5em;
}
.form {
	background-color: gray;
	width:100px;
	height: 150px;
	border: 1px solid black;

}